
.article-content h2 {
	text-transform: none;
}

.article-content {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #24292e;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

.article-content .pl-c {
	color: #969896;
}

.article-content .pl-c1,
.article-content .pl-s .pl-v {
	color: #0086b3;
}

.article-content .pl-e,
.article-content .pl-en {
	color: #795da3;
}

.article-content .pl-smi,
.article-content .pl-s .pl-s1 {
	color: #333;
}

.article-content .pl-ent {
	color: #63a35c;
}

.article-content .pl-k {
	color: #a71d5d;
}

.article-content .pl-s,
.article-content .pl-pds,
.article-content .pl-s .pl-pse .pl-s1,
.article-content .pl-sr,
.article-content .pl-sr .pl-cce,
.article-content .pl-sr .pl-sre,
.article-content .pl-sr .pl-sra {
	color: #183691;
}

.article-content .pl-v,
.article-content .pl-smw {
	color: #ed6a43;
}

.article-content .pl-bu {
	color: #b52a1d;
}

.article-content .pl-ii {
	color: #f8f8f8;
	background-color: #b52a1d;
}

.article-content .pl-c2 {
	color: #f8f8f8;
	background-color: #b52a1d;
}

.article-content .pl-c2::before {
	content: "^M";
}

.article-content .pl-sr .pl-cce {
	font-weight: bold;
	color: #63a35c;
}

.article-content .pl-ml {
	color: #693a17;
}

.article-content .pl-mh,
.article-content .pl-mh .pl-en,
.article-content .pl-ms {
	font-weight: bold;
	color: #1d3e81;
}

.article-content .pl-mq {
	color: #008080;
}

.article-content .pl-mi {
	font-style: italic;
	color: #333;
}

.article-content .pl-mb {
	font-weight: bold;
	color: #333;
}

.article-content .pl-md {
	color: #bd2c00;
	background-color: #ffecec;
}

.article-content .pl-mi1 {
	color: #55a532;
	background-color: #eaffea;
}

.article-content .pl-mc {
	color: #ef9700;
	background-color: #ffe3b4;
}

.article-content .pl-mi2 {
	color: #d8d8d8;
	background-color: #808080;
}

.article-content .pl-mdr {
	font-weight: bold;
	color: #795da3;
}

.article-content .pl-mo {
	color: #1d3e81;
}

.article-content .pl-ba {
	color: #595e62;
}

.article-content .pl-sg {
	color: #c0c0c0;
}

.article-content .pl-corl {
	text-decoration: underline;
	color: #183691;
}

.article-content .octicon {
	display: inline-block;
	vertical-align: text-top;
	fill: currentColor;
}

.article-content a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

.article-content a:active,
.article-content a:hover {
	outline-width: 0;
}

.article-content strong {
	font-weight: inherit;
}

.article-content strong {
	font-weight: bolder;
}

.article-content h1 {
	font-size: 3em;
	border-bottom: 1px solid #eaecef;
	margin: 0.67em 0;
}

.article-content img {
	border-style: none;
}

.article-content svg:not(:root) {
	overflow: hidden;
}

.article-content kbd,
.article-content pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

.article-content hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

.article-content input {
	font: inherit;
	margin: 0;
}

.article-content input {
	overflow: visible;
}

.article-content [type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

.article-content * {
	box-sizing: border-box;
}

.article-content input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.article-content a {
	text-decoration: none;
}

.article-content a:hover {
	text-decoration: underline;
}

.article-content strong {
	font-weight: 600;
}

.article-content hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

.article-content hr::before {
	display: table;
	content: "";
}

.article-content hr::after {
	display: table;
	clear: both;
	content: "";
}

.article-content table {
	border-spacing: 0;
	border-collapse: collapse;
}

.article-content td,
.article-content th {
	padding: 0;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.article-content h1 {
	font-weight: 600;
}

.article-content h2 {
	font-size: 24px;
	font-weight: 600;
}

.article-content h3 {
	font-size: 20px;
	font-weight: 600;
}

.article-content h4 {
	font-size: 16px;
	font-weight: 600;
}

.article-content h5 {
	font-size: 14px;
	font-weight: 600;
}

.article-content h6 {
	font-size: 12px;
	font-weight: 600;
}

.article-content p {
	margin-top: 0;
	margin-bottom: 10px;
}

.article-content blockquote {
	margin: 0;
}

.article-content ul,
.article-content ol {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.article-content ol ol,
.article-content ul ol {
	list-style-type: lower-roman;
}

.article-content ul ul ol,
.article-content ul ol ol,
.article-content ol ul ol,
.article-content ol ol ol {
	list-style-type: lower-alpha;
}

.article-content dd {
	margin-left: 0;
}

.article-content pre {
	margin-top: 0;
	margin-bottom: 0;
	font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.article-content .octicon {
	vertical-align: text-bottom;
}

.article-content .pl-0 {
	padding-left: 0 !important;
}

.article-content .pl-1 {
	padding-left: 4px !important;
}

.article-content .pl-2 {
	padding-left: 8px !important;
}

.article-content .pl-3 {
	padding-left: 16px !important;
}

.article-content .pl-4 {
	padding-left: 24px !important;
}

.article-content .pl-5 {
	padding-left: 32px !important;
}

.article-content .pl-6 {
	padding-left: 40px !important;
}

.content::before {
	display: table;
	content: "";
}

.content::after {
	display: table;
	clear: both;
	content: "";
}

.content>*:first-child {
	margin-top: 0 !important;
}

.content>*:last-child {
	margin-bottom: 0 !important;
}

.article-content a:not([href]) {
	color: inherit;
	text-decoration: none;
}

.article-content .anchor {
	float: left;
	padding-right: 4px;
	margin-left: -20px;
	line-height: 1;
}

.article-content .anchor:focus {
	outline: none;
}

.article-content p,
.article-content blockquote,
.article-content ul,
.article-content ol,
.article-content dl,
.article-content table,
.article-content pre {
	margin-top: 0;
	margin-bottom: 16px;
}

.article-content hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

.article-content blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

.article-content blockquote>:first-child {
	margin-top: 0;
}

.article-content blockquote>:last-child {
	margin-bottom: 0;
}

.article-content kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
}

.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
	font-weight: 600;
	line-height: 1.25;
}

.article-content h1 .octicon-link,
.article-content h2 .octicon-link,
.article-content h3 .octicon-link,
.article-content h4 .octicon-link,
.article-content h5 .octicon-link,
.article-content h6 .octicon-link {
	color: #d00000;
	vertical-align: middle;
	visibility: hidden;
}

.article-content h1:hover .anchor,
.article-content h2:hover .anchor,
.article-content h3:hover .anchor,
.article-content h4:hover .anchor,
.article-content h5:hover .anchor,
.article-content h6:hover .anchor {
	text-decoration: none;
}

.article-content h1:hover .anchor .octicon-link,
.article-content h2:hover .anchor .octicon-link,
.article-content h3:hover .anchor .octicon-link,
.article-content h4:hover .anchor .octicon-link,
.article-content h5:hover .anchor .octicon-link,
.article-content h6:hover .anchor .octicon-link {
	visibility: visible;
}

.article-content h2 {
	padding-bottom: 0.1em;
	margin-bottom: 0.5rem;
	font-size: 1.5em;
	border-bottom: 1px solid #eaecef;
}

.article-content h3 {
	font-size: 1.25em;
}

.article-content h4 {
	font-size: 1em;
}

.article-content h5 {
	font-size: 0.875em;
}

.article-content h6 {
	font-size: 0.85em;
	color: #6a737d;
}

.article-content ul,
.article-content ol {
	padding-left: 2em;
}

.article-content ul ul,
.article-content ul ol,
.article-content ol ol,
.article-content ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.article-content li>p {
	margin-top: 16px;
}

.article-content li+li {
	margin-top: 0.25em;
}

.article-content dl {
	padding: 0;
}

.article-content dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

.article-content dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

.article-content table {
	display: block;
	width: 100%;
	overflow: auto;
}

.article-content table th {
	font-weight: 600;
}

.article-content table th,
.article-content table td {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

.article-content table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

.article-content table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

.article-content img {
	max-width: 100%;
	box-sizing: content-box;
	background-color: #fff;
}

.article-content .highlight {
	margin-bottom: 16px;
}

.article-content .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

.article-content .highlight pre,
.article-content pre {
	padding: 0 16px 16px 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	border-radius: 8px;
}

.article-content .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}

.article-content kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #c6cbd1;
	border-bottom-color: #959da5;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #959da5;
}

.article-content :checked+.radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
}

.article-content .task-list-item {
	list-style-type: none;
}

.article-content .task-list-item+.task-list-item {
	margin-top: 3px;
}

.article-content .task-list-item input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}

.article-content hr {
	border-bottom-color: #eee;
}

pre {
	background-color: #272822;
	border-width: 1pt;
	border-color: #626262;
	border-style: solid;
}

code ::-moz-selection {
	background-color: orange;
	color: white;
}
code ::selection {
	background-color: orange;
	color: white;
}
ol {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
ol span {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
}
	
.article-metadata p {
	margin: 0;
}

.article-metadata-date {
	font-size: 1.4rem !important;
	color: #999999;
}

.article-metadata-author {
	font-size: 1.5rem !important;
	font-weight: 600;
}

.article-metadata-tags {
	font-size: 1.3rem !important;
	font-style: italic;
	font-weight: 300;
}

.article-metadata {
	margin-bottom: 4rem;
}

.article-content ul {
	list-style: disc;
}
