body {
	background-color: black;
}

html,
body {
	/*width: 100%;*/
	/*overflow: visible;*/
	/*background-color: black;*/
}

.content {
	background-color: rgba(0, 0, 0, 0);
}

#download {
	width: 20rem;
	text-align: center;
	color: white;
	margin: 0 auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 1rem;
	font-size: 1.4rem;
}

#header {
	pointer-events: none;  
	top: -3rem;
}

a {
	height: 100%;
	width: 100%;
}

/* available on the app store */
#header > img {
	position: relative;
	width: 13.5rem;
	height: 4rem;
	bottom: 4rem;
	left: auto;
	right: auto;
	margin: 0 auto;
}

#noughts_and_crosses {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -2;
}

#header {
	z-index: 0;
	opacity: 0;
}

#atomic_promo_layer1 {
	background: black;
	z-index: 5;
	/*position: absolute;*/
	top:0;
	left:0;
}

#atomic_promo_layer2 {
	z-index: 6;
	/*position: absolute;*/
	top:0;
	left:0;
}

#atomic_promo_layer3 {
	z-index: 7;
	position: absolute;
	top:0;
	left:0;
}


#atomic_promo_layer2 img,
#atomic_promo_layer3 img {
	max-width: 126rem;
	max-height: 80rem;
}


/*#download a {*/
#download {
	color: white;
	width: 23rem;
	height: 100%;
	display: block;
	padding: 1rem;
	border: .2rem solid white;
	border-radius: 1rem;
	margin-bottom: 6rem;
	text-decoration: none;
}

#header,
iframe,
#download {
	/*opacity: 0;*/
}

@media (min-width: 720px) {
	#header > img {
		bottom: 10rem;
	}
}