.blog-post-wrapper h3 {
	font-size: 3rem;
	border-bottom: 1px solid #eaecef;
	margin-bottom: 0.67rem;
}

.blog-post {
	height: 20rem;
	line-height: 20rem;
	background-color: #f5f5f5;
    /*background: -webkit-linear-gradient(white, #ffc2bb); /* For Safari 5.1 to 6.0 */

	text-align: center;
	/*border-color: #be2f1f;*/
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	border-width: 2px;
}

.blog-post:hover {
	/*border-collapse: 1rem;*/
	/*letter-spacing: -4px;*/
	background-color: #be2f1f;

	color: white;
	border-color: transparent;
}

.blog-post h3 {
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
}

.blog-post:hover h3 {
	color: white;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #be2f1f;
}

/*.blog-post-excerpt:before {
	display: block;
	content: "\201C";
	font-size: 40px;
	position: absolute;
	left: 20px;
	top: 0px;
	font-family: Georgia, serif;
	font-style: italic;
}*/

.blog-post-excerpt {
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;

	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 1.6rem;
	position: relative;
	padding: 1rem 3.8rem 1rem 3.8rem;
	font-style: italic;
	color: black;
}

.blog-post:hover .blog-post-excerpt {
	color: white;
}

.blog-post-wrapper {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 2rem;
	padding-bottom: 2rem;
}

.blog-post:hover .article-metadata-date {
	color: white;
}
