
.tile:nth-of-type(1) {
   background-image: url('../img/games/tile_isolation.png');
}

.tile:nth-of-type(2) {
   background-image: url('../img/games/tile_boxhockey.png');
}

.tile:nth-of-type(3) {
	background-image: url('../img/games/tile_atomic3.png');
}

.tile:nth-of-type(4) {
  background-image: url('../img/games/tile_packager.png');
}
