/**
 * Generic styles
 *
 * @author Louis D'hauwe
 *
 */

/* ===========================================
   Custom reset
   =========================================== */

html {
	font-size: 0.625em;  
}

* {
	margin: 0; 
	padding: 0; 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

fieldset {
	border: 0;
}

/* ===========================================
   Helpers
   =========================================== */

.structural {
	position: absolute;
	left: -9999px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.ir {
	display: block;
	background-size: 100%; 
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	position: absolute !important;
	visibility: hidden !important;
	z-index: -1 !important;
}

/* ===========================================
   other
   =========================================== */

/* WebKit/Blink Browsers */
::selection {
	background: #d00000; 
	color: white;
}

/* Gecko Browsers */
::-moz-selection {
	background: #d00000; 
	color: white;
}

body {
	background-color: #eeeeee;
	padding: 0;
	margin: 0;
	/*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/*font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;*/

    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

	font-weight: 400;
	min-height: 70rem;

  	/* fix for OS X font bug */
  	-webkit-font-smoothing: antialiased; 
  	-moz-osx-font-smoothing: grayscale;

  	/* force hardware acceleration (fixes chrome scroll lag) */
  	-webkit-transform: translate3d(0, 0, 1px); 
    -webkit-backface-visibility: hidden;
}

* {
	-webkit-backface-visibility: hidden;
}

html, body {
	height: 100%;
}

header {
	height: 24rem;
	border-bottom: 0.3rem #991000 solid;
	-webkit-transform: translateZ(0px);
}

ul {
	list-style: none;
}

a {
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

header a {
	text-decoration: none;
}

header {
	z-index: 100;
}

.content {
	z-index: 10;
	overflow: hidden;
	border-radius: 0rem 0rem 4rem 4rem; 
}

header {
	width: 100%;
	background-color: #be2f1f;
}

.wrapper {
	max-width: 100rem;
	margin: 0 auto;
}

footer {
	width: 100%;
	float: left;
	height: 3rem; 
	color: #a53c30;
	/*position: absolute;*/
	font-size: 1.2rem;
	/*font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	font-weight: 600;

	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	opacity: 0;
}

footer.loaded {
	opacity: 1;
}

footer a {
	color: white;
	opacity: 1.0;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

footer a:hover {
	opacity: 0.8;
}

footer .wrapper p:nth-of-type(1) {
	width: 100%;
	text-align: center;
	line-height: 3rem;
}

footer .wrapper p:nth-of-type(2) {
	text-align: center;
	right: 0;
	bottom: 0;
	position: relative;
	line-height: 3rem;
	margin-top: 0rem;
	margin-right: 1rem;
}

header li.active,
header li:not(:nth-of-type(1)):hover {
	background-color: #a82b1d;

}

header li a,
header li:not(:nth-of-type(1)) a {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}



header li.active a,
header li:not(:nth-of-type(1)):hover a {
	/*text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);*/
	/*border-bottom: 2px solid white;*/
	/*text-decoration:underline;*/

}

header li:nth-of-type(1) {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}  

header li:nth-of-type(1):hover {
	opacity: 0.8;
}

header li {
	display: block;
	width: 100%;
	height: 4.825rem;
	line-height: 4.5rem;
	font-size: 1.9rem;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-ms-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
}

header ul li:first-child a {
	background: url("../img/logo.png") no-repeat;
	background-position: center;
	width: 100%;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	header ul li:first-child a {
		background: url("../img/logo@2x.png") no-repeat;
		background-size: 161px 32px;
		background-position: center;
	}
}

header ul li:first-child {
	margin-left: 0rem;
	margin-right: 0rem;
}

header li a {
	display: block;
	text-align: center;
}

header li:not(:nth-of-type(1)) {
	padding-left: 1rem;
	padding-right: 1rem;
	border-left: 0;
}

header li:nth-of-type(5) {
	padding-left: 1rem;
	padding-right: 1rem;
	border-right: 0;
}

header li a {
	color: white;
}

#history {
	font-style: italic;
}

#history h2 {
	font-size: 1.4rem;
	font-style: italic;
}

/* Spinner */
.spinner {
	width: 70px;
	text-align: center;
	position: absolute;
	height: 100%;
	width: 100%;
}

.spinner > div {
	margin: auto;
	position: relative;
	top: 45%;

	width: 18px;
	height: 18px;
	background-color: #a53c30;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*#contact::before {
	content: url(../img/ornament.png);
	position: absolute;
	width: 56rem;
	left: 50%;
}

#contact {
	position: relative;
}*/

@media (min-width: 720px) {
	.typed-cursor {
		font-size: 3rem;
	}
	header li {
		display: inline-block;
		width: calc((100% - 24rem) / 4); 
	}
	header {
		height: 5rem;
	}
	header li:not(:nth-of-type(1)) {
		border-left: 0.2rem #991000 solid;
		margin-left: -0.3rem;
	}

	header li:nth-of-type(5) {
		border-right: 0.2rem #991000 solid;
	}

	header li:nth-of-type(1) {
		width: 18rem !important;	
	}

	header ul li:first-child {
		margin-left: 1rem;
		margin-right: 3rem;
		display: inline-flex;
	}

	footer {
		height: 3rem; 
	}

	footer .wrapper p:nth-of-type(2) {
		text-align: right;
		right: 0;
		top: 0;
		position: relative;
		line-height: 3rem;
		margin-top: -3rem;
		margin-right: 1rem;
	}
}
