
.newsitem-metadata-date {
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	font-size: 1.4rem !important;
	line-height: 1.8rem !important;
	color: #999999;
}

.newsitem-metadata-author {
	font-size: 1.5rem !important;
	line-height: 1.8rem !important;
	font-weight: 600;
	color: black;
}

.newsitem-wrapper h3 {
	font-size: 2rem;
	border-bottom: 1px solid #eaecef;
	margin-bottom: 0.67rem;
}

.newsitem-wrapper {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-size: 2rem;
	padding-bottom: 2rem;
}

.newsitem {
	height: 20rem;
	line-height: 20rem;
	background-color: #f5f5f5;
    /*background: -webkit-linear-gradient(white, #ffc2bb); /* For Safari 5.1 to 6.0 */

	text-align: center;
	/*border-color: #be2f1f;*/
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	border-width: 2px;
}