.tile:nth-of-type(1) {
   background-image: url('../img/research/bb_8_poster_frame.jpg');
}

.tile:nth-of-type(2) {
   background-image: url('../img/research/glsl_swift.jpg');
}

.tile:nth-of-type(3) {
   background-image: url('../img/research/sky_diving.png');
}