/* original: http://codepen.io/WhiteWolfWizard/pen/Iihlo */

@keyframes load {
	100% {
		opacity: 0;
		transform: scale(0.7);
	}
}

@-webkit-keyframes load {
	100% {
		opacity: 0;
		-webkit-transform: scale(0.7);
	}
}

#maincontent {
	position: relative;
}

#loader-wrapper.loaded {
	opacity: 0;
}

#loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 155px;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	pointer-events: none;
}

#loader {
	width: 155px;
	height: 155px;
	margin: 0 auto;
	vertical-align: middle;
	display: inline-block;
	top: 40%;
	position: relative;
}

#loader .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 77.5px;
	height: 100%;
	margin: auto;
}

#loader .dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 77.5px;
	height: 77.5px;
	border-radius: 100%;
	transform: scale(0);
	-webkit-transform: scale(0);
}

#loader .dot.ready:nth-child(7n+1) {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#loader .dot.ready:nth-child(7n+1):before {
	background: #00ff15;
	animation: load 2.3s linear 0.1s infinite;
	-webkit-animation: load 2.3s linear 0.1s infinite;
}

#loader .dot.ready:nth-child(7n+2) {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}

#loader .dot.ready:nth-child(7n+2):before {
	background: #00ff80;
	animation: load 2.3s linear 0.2s infinite;
	-webkit-animation: load 2.3s linear 0.2s infinite;
}

#loader .dot.ready:nth-child(7n+3) {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

#loader .dot.ready:nth-child(7n+3):before {
	background: #00ffea;
	animation: load 2.3s linear 0.3s infinite;
	-webkit-animation: load 2.3s linear 0.3s infinite;
}

#loader .dot.ready:nth-child(7n+4) {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

#loader .dot.ready:nth-child(7n+4):before {
	background: #00aaff;
	animation: load 2.3s linear 0.4s infinite;
	-webkit-animation: load 2.3s linear 0.4s infinite;
}

#loader .dot.ready:nth-child(7n+5) {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
}

#loader .dot.ready:nth-child(7n+5):before {
	background: #0040ff;
	animation: load 2.3s linear 0.5s infinite;
	-webkit-animation: load 2.3s linear 0.5s infinite;
}

#loader .dot.ready:nth-child(7n+6) {
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}

#loader .dot.ready:nth-child(7n+6):before {
	background: #2a00ff;
	animation: load 2.3s linear 0.6s infinite;
	-webkit-animation: load 2.3s linear 0.6s infinite;
}

#loader .dot.ready:nth-child(7n+7) {
	transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
}

#loader .dot.ready:nth-child(7n+7):before {
	background: #9500ff;
	animation: load 2.3s linear 0.7s infinite;
	-webkit-animation: load 2.3s linear 0.7s infinite;
}

#loader .dot.ready:nth-child(7n+8) {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

#loader .dot.ready:nth-child(7n+8):before {
	background: #ff00ff;
	animation: load 2.3s linear 0.8s infinite;
	-webkit-animation: load 2.3s linear 0.8s infinite;
}


